<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="'Hand -' + ${handDto.handId}"/>

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
                <!-- pagination -->
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${pageDto.previousPageNumber < 0} ? 'disabled'">
                            <a
                                class="page-link"
                                th:href="@{'/hand/' + ${pageDto.previousPageId}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a  class="page-link"
                                th:href="@{'/hand/' + ${pageDto.currentPageId}}"
                                th:text="${(pageDto.currentPageNumber + 1) + '/' + pageDto.totalPages}"
                                rel="tooltip">
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${pageDto.nextPageNumber < 0} ? 'disabled'">
                            <a
                                class="page-link"
                                th:href="@{'/hand/' + ${pageDto.nextPageId}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            <div class="row mt-4">
                <div class="col-md-4">
                    <h5 th:text="'Hand: ' + ${handDto.handId}"/>
                    <h5 th:text="'Board Showdown: ' + ${handDto.boardShowdown}"/>
                    <h5 th:text="'Board: ' + ${handDto.board}"/>
                </div>
                <div class="col-md-4">
                    <h5 th:text="'Level: ' + ${handDto.level}"/>
                    <h5 th:text="'Blinds: ' + ${handDto.blinds}"/>
                    <h5 th:text="'Pot: ' + ${handDto.pot}"/>
                </div>
                <div class="col-md-4">
                    <h5 th:text="'PlayedAt: ' + ${handDto.playedAt}"/>
                </div>
            </div>

            <div class="row mt-4">
                <div>
                    <h4>Players:</h4>
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nickname</th>
                                <th>Place</th>
                                <th>Stack</th>
                                <th>#blinds</th>
                                <th>#SB</th>
                                <th>#BB</th>
                                <th>#BTN</th>
                                <th>Chen</th>
                                <th>Cards</th>
                                <th>#hand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="playerMonitoredDto : ${playerMonitoredDtoList}">
                                <td
                                    th:text="${playerMonitoredDto.position}"
                                    th:classappend="${playerMonitoredDto.cssPosition}"
                                    th:title="${playerMonitoredDto.titlePosition}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.nickname}"
                                    th:classappend="${playerMonitoredDto.cssNickname}"
                                    th:title="${playerMonitoredDto.titleNickname}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.place}"
                                    th:classappend="${playerMonitoredDto.cssPlace}"
                                    th:title="${playerMonitoredDto.titlePlace}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.stackOfPlayer}"
                                    th:classappend="${playerMonitoredDto.cssStackOfPlayer}"
                                    th:title="${playerMonitoredDto.titleStackOfPlayer}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.blindsCount}"
                                    th:classappend="${playerMonitoredDto.cssBlindsCount}"
                                    th:title="${playerMonitoredDto.titleBlindsCount}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.sbCount}"
                                    th:classappend="${playerMonitoredDto.cssSbCount}"
                                    th:title="${playerMonitoredDto.titleSbCount}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.bbCount}"
                                    th:classappend="${playerMonitoredDto.cssBbCount}"
                                    th:title="${playerMonitoredDto.titleBbCount}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.btnCount}"
                                    th:classappend="${playerMonitoredDto.cssBtnCount}"
                                    th:title="${playerMonitoredDto.titleBtnCount}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.chen}"
                                    th:classappend="${playerMonitoredDto.cssChen}"
                                    th:title="${playerMonitoredDto.titleChen}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.cardsOnHand}"
                                    th:classappend="${playerMonitoredDto.cssCardsOnHand}"
                                    th:title="${playerMonitoredDto.titleCardsOnHand}"
                                />
                                <td
                                    th:text="${playerMonitoredDto.handDescription}"
                                    th:classappend="${playerMonitoredDto.cssHandDescription}"
                                    th:title="${playerMonitoredDto.titleHandDescription}"
                                />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div>
                    <h4>Stats:</h4>
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nickname</th>

                            <th>#seqNoAction</th>
                            <th>%noAction</th>

                            <th>#seqNoActionSB</th>
                            <th>%noActionSB</th>

                            <th>#seqNoActionBB</th>
                            <th>%noActionBB</th>

                            <th>#seqActionBTN</th>
                            <th>%actionBTN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="playerMonitoredDto : ${playerMonitoredDtoList}">
                            <td
                                th:text="${playerMonitoredDto.position}"
                                th:classappend="${playerMonitoredDto.cssPosition}"
                                th:title="${playerMonitoredDto.titlePosition}"
                            />
                            <td
                                th:text="${playerMonitoredDto.nickname}"
                                th:classappend="${playerMonitoredDto.cssNickname}"
                                th:title="${playerMonitoredDto.titleNickname}"
                            />

                            <td
                                th:text="${playerMonitoredDto.noActionSeq}"
                                th:classappend="${playerMonitoredDto.cssNoActionSeq}"
                                th:title="${playerMonitoredDto.titleNoActionSeq}"
                            />

                            <td
                                th:text="${playerMonitoredDto.noActionPerc}"
                                th:classappend="${playerMonitoredDto.cssNoActionPerc}"
                                th:title="${playerMonitoredDto.titleNoActionPerc}"
                            />

                            <td
                                th:text="${playerMonitoredDto.foldSBSeq}"
                                th:classappend="${playerMonitoredDto.cssFoldSBSeq}"
                                th:title="${playerMonitoredDto.titleFoldSBSeq}"
                            />

                            <td
                                th:text="${playerMonitoredDto.foldSBPerc}"
                                th:classappend="${playerMonitoredDto.cssFoldSBPerc}"
                                th:title="${playerMonitoredDto.titleFoldSBPerc}"
                            />

                            <td
                                th:text="${playerMonitoredDto.foldBBSeq}"
                                th:classappend="${playerMonitoredDto.cssFoldBBSeq}"
                                th:title="${playerMonitoredDto.titleFoldBBSeq}"
                            />
                            <td
                                th:text="${playerMonitoredDto.foldBBPerc}"
                                th:classappend="${playerMonitoredDto.cssFoldBBPerc}"
                                th:title="${playerMonitoredDto.titleFoldBBPerc}"
                            />

                            <td
                                th:text="${playerMonitoredDto.actionBTNSeq}"
                                th:classappend="${playerMonitoredDto.cssActionBTNSeq}"
                                th:title="${playerMonitoredDto.titleActionBTNSeq}"
                            />

                            <td
                                th:text="${playerMonitoredDto.actionBTNPerc}"
                                th:classappend="${playerMonitoredDto.cssActionBTNPerc}"
                                th:title="${playerMonitoredDto.titleActionBTNPerc}"
                            />
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h4>Rawdata:</h4>
                    <p class= "text-break" th:utext="${rawData}" />
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>