<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title th:text="'Hand -' + ${handDto.handId}"/>

        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
                <!-- pagination -->
                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${pageDto.previousPageNumber < 0} ? 'disabled'">
                            <a
                                class="page-link"
                                th:href="@{'/hand/' + ${pageDto.previousPageId}}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a  class="page-link"
                                th:href="@{'/hand/' + ${pageDto.currentPageId}}"
                                th:text="${(pageDto.currentPageNumber + 1) + '/' + pageDto.totalPages}"
                                rel="tooltip">
                            </a>
                        </li>
                        <li class="page-item" th:classappend="${pageDto.nextPageNumber < 0} ? 'disabled'">
                            <a
                                class="page-link"
                                th:href="@{'/hand/' + ${pageDto.nextPageId}}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            <div class="row mt-4">
                <div class="col-md-4">
                    <h5 th:text="'Hand: ' + ${handDto.handId}"/>
                    <h5 th:text="'Board Showdown: ' + ${handDto.boardShowdown}"/>
                    <h5 th:text="'Board: ' + ${handDto.board}"/>
                </div>
                <div class="col-md-4">
                    <h5 th:text="'Level: ' + ${handDto.level}"/>
                    <h5 th:text="'Blinds: ' + ${handDto.blinds}"/>
                    <h5 th:text="'Pot: ' + ${handDto.pot}"/>
                </div>
                <div class="col-md-4">
                    <h5 th:text="'PlayedAt: ' + ${handDto.playedAt}"/>
                </div>
            </div>

            <div class="row mt-4">
                <div>
                    <h4>Players:</h4>
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nickname</th>
                                <th>Position</th>
                                <th>Stack</th>
                                <th>#blinds</th>
                                <th>#SB</th>
                                <th>#BB</th>
                                <th>#UTG</th>
                                <th>#MP</th>
                                <th>#LJ</th>
                                <th>#HJ</th>
                                <th>#CO</th>
                                <th>#BTN</th>
                                <th>Chen</th>
                                <th>Cards</th>
                                <th>#hand</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="playerDetailsDto : ${playerDetailsDtoList}">
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.position}"/>
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.nickname}" th:classappend="${playerDetailsDto.cssNickname}"/>
                                <td th:text="${playerDetailsDto.pokerTablePosition}" />
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.stackOfPlayer}" />
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.blindsCount}" />
                                <td th:text="${playerDetailsDto.statsDto.sbCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.bbCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.utgCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.mpCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.ljCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.hjCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.coCount}"/>
                                <td th:text="${playerDetailsDto.statsDto.btnCount}"/>
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.chen}" th:classappend="${playerDetailsDto.cssChen}"/>
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.cards}" th:classappend="${playerDetailsDto.cssChen}"/>
                                <td th:text="${playerDetailsDto.playerDetailsDtoProjection.handDescription}" th:classappend="${playerDetailsDto.cssNickname}"/>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div>
                    <h4>Stats:</h4>
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nickname</th>

                            <th>#seqNoAction</th>
                            <th>%noAction</th>

                            <th>#seqNoActionSB</th>
                            <th>%noActionSB</th>

                            <th>#seqNoActionBB</th>
                            <th>%noActionBB</th>

                            <th>#seqActionBTN</th>
                            <th>%actionBTN</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="playerDetailsDto : ${playerDetailsDtoList}">
                            <td th:text="${playerDetailsDto.playerDetailsDtoProjection.position}"/>
                            <td th:text="${playerDetailsDto.playerDetailsDtoProjection.nickname}" th:classappend="${playerDetailsDto.cssNickname}"/>

                            <td th:text="${playerDetailsDto.statsDto.seqNoAction}"/>
                            <td th:text="${playerDetailsDto.statsDto.noActionPerc}"/>

                            <td th:text="${playerDetailsDto.statsDto.seqNoActionSB}"/>
                            <td th:text="${playerDetailsDto.statsDto.percNoActionSB}"/>

                            <td th:text="${playerDetailsDto.statsDto.seqNoActionBB}"/>
                            <td th:text="${playerDetailsDto.statsDto.percNoActionBB}"/>

                            <td th:text="${playerDetailsDto.statsDto.seqActionBTN}"/>
                            <td th:text="${playerDetailsDto.statsDto.percActionBTN}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <h4>Rawdata:</h4>
                    <p class= "text-break" th:utext="${rawData}" />
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>