<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="20">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title th:text="${modelTournamentMonitored.tournamentId}"/>


		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/css/style.css}" rel="stylesheet">

	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<table class="table table-sm table-bordered">
						<caption th:text="${modelTournamentMonitored.tournamentId} +
						' - stack ' + ${modelTournamentMonitored.stackOfHero} +
						' [' + ${modelTournamentMonitored.minBlindsRecommendation} +
						' - ' + ${modelTournamentMonitored.avgStack} +
						'] # ' + ${modelTournamentMonitored.blindsCount} +
						': ' + ${modelTournamentMonitored.recommendation}"
								 th:classappend="${modelTournamentMonitored.cssRecommendation}" th:title="${modelTournamentMonitored.titleRecommendation}"/>
						<thead>
							<tr>
								<th>nickname</th>
								<th>chen</th>
								<th>SB</th>
								<th>BTN</th>
                                <th>noAct</th>
                                <th>blinds</th>
								<th>info</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="player : ${modelTournamentMonitored.playerMonitoredDtoList}">
								<td th:text="${player.nickname}" th:classappend="${player.cssNickname}" th:title="${player.titleNickname}"/>
								<td th:text="${player.avgChen}" th:classappend="${player.cssAvgChen}" th:title="${player.titleChen}"/>
								<td th:text="${player.foldSBPerc}" th:classappend="${player.cssFoldSBPerc}" th:title="${player.titleFoldSBPerc}"/>
								<td th:text="${player.actionBTNPerc}" th:classappend="${player.cssActionBTNPerc}" th:title="${player.titleActionBTNPerc}"/>
                                <td th:text="${player.noActionPerc}" th:classappend="${player.cssNoActionPerc}" th:title="${player.titleNoActionPerc}"/>
                                <td th:text="${player.blindsCount}" th:classappend="${player.cssBlindsCount}" th:title="${player.titleBlindsCount}"/>
								<td> <a th:href="@{'/player/'+${player.nickname}}" th:text="info" target="_blank" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/scripts.js}"></script>

	</body>
</html>