<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Tournaments</title>


        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/style.css}" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>tournament</th>
                                <th>filename</th>
                                <th>#hands</th>
                                <th>#players</th>
                                <th>#showdowns</th>
                                <th>createdAt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="tournament : ${tournamentPage.content}">
                                <td> <a th:href="@{'/monitoring/'+${tournament.tournamentId}}" th:text="${tournament.tournamentId}" target="_blank" /></td>
                                <td> <a th:href="@{'/tournament/'+${tournament.tournamentId}}" th:text="${tournament.fileName}" target="_blank" /></td>
                                <td th:text="${tournament.hands}" />
                                <td th:text="${tournament.players}" />
                                <td th:text="${tournament.showdowns}" />
                                <td th:text="${tournament.createdAt}" />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination justify-content-center">
                        <li th:if="${tournamentPage.totalPages > 0}" class="page-item"
                            th:each="pageNumber : ${pageNumbers}"
                            th:classappend="${pageNumber==tournamentPage.number + 1} ? active">
                            <a  class = "page-link"
                                th:href="@{/tournaments(size=${tournamentPage.size}, page=${pageNumber})}"
                                th:text=${pageNumber}></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
    </body>
</html>